@model IEnumerable<CourseWork.Models.Fund>

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>View</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GoalAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CollectedAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Info)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LogoName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GoalAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CollectedAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Info)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LogoName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FundId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FundId })
        </td>
    </tr>
}

</table>
